fastapi
uvicorn
python-multipart
PyPDF2
langchain-text-splitters
sentence-transformers
transformers
faiss-cpu
google-genai
python-dotenv
langgraph
langchain-core
requests
beautifulsoup4
